body {
  background-color: whitesmoke;
}
.box {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  border: solid 3px #494949;
  height: 500px;
}
.heading.tag {
  text-decoration: none;
  padding: 0.5rem;
  background: #f7f7f7;
  border-left: solid 6px #7e5bfc;
  color: #7e5bfc;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
}
.heading.heavy-rounded {
  border-radius: 8px;
}
.hide {
  visibility: hidden;
}
.heading.tag:active {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.22);
  position: relative;
  top: 2px;
}
